@import "tailwindcss";

/* Scrollbar tipis */
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #e5e7eb; border-radius: 2px; }
::-webkit-scrollbar-thumb:hover { background: #d1d5db; }